@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot?t=1481516484501');
	/* IE9*/
	src: url('../fonts/iconfont.eot?t=1481516484501#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont.woff?t=1481516484501') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont.ttf?t=1481516484501') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont.svg?t=1481516484501#iconfont') format('svg');
	/* iOS 4.1- */
}

@font-face {
	font-family: "webfont2";
	src: url('../fonts/sani.ttf');
	/* IE9*/
	src: url('../fonts/sani.ttf') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/sani.ttf') format('woff'), /* chrome, firefox */
	url('../fonts/sani.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/sani.ttf') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.web-font {
	font-family: "webfont2" !important;
	font-size: 18px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.web-font2 {
	font-family: "webfont2" !important;
	background-color: #007AFF;
	border-radius: 4px;
	margin-left: 3px;
	padding: 1px 5px 0 5px;
	color: #fff;
	font-size: 18px;
	font-style: normal;
}

.icon2-user_icon:before {
	color: #000000;
	content: "\e60c";
}

.icon2-mima_icon:before {
	color: #000000;
	content: "\e642";
}

.icon2-shijian:before {
	content: "\e620";
}

.icon2-daiban:before {
	color: #a84b13;
	content: "\e614";
}

.icon2-daiban1:before {
	content: "\e61e";
}

.icon2-daiban3:before {
	content: "\e61e";
	font-size: 24px;
	color: #CF2D28;
}

.icon2-yiban:before {
	content: "\e62d";
	color: #696CAD;
}

.icon2-icon01:before {
	content: "\e615";
}

.icon2-biaodan:before {
	content: "\e65c";
}

.icon2-time:before {
	content: "\e61a";
}

.icon2-wodericheng:before {
	color: #3b87ce;
	content: "\e678";
}

.icon2-gengduo-copy:before {
	color: #59c0bc;
	content: "\e600";
}

.icon2-mima:before {
	content: "\e642";
	margin-right: 3px;
}

.icon2-liaotian:before {
	color: #74b64a;
	content: "\e606";
}

.icon2-huiyi:before {
	content: "\e673";
}

.icon2-daiban2:before {
	content: "\e602";
	font-size: 24px;
}

.icon2-dai:before {
	content: "\e77d";
}

.icon2-gonggao:before {
	content: "\e619";
}

.icon2-shuruxinxi:before {
	content: "\e61b";
}

.icon2-eventmeeting:before {
	content: "\e791";
}

.icon2-huiyi1:before {
	content: "\e605";
}

.icon2-gongwen:before {
	content: "\e680";
}

.icon2-icon-test:before {
	content: "\e60c";
}

.icon2-eventmeeting-copy:before {
	content: "\e792";
}

.icon2-wodericheng-copy:before {
	content: "\e793";
}

.icon2-gongwenliuzhuan:before {
	content: "\e629";
}

.icon2-yibanyewu:before {
	content: "\e60a";
}

.icon2-fujian:before {
	content: "\e60d";
}

.icon2-shezhi1:before {
	color: #fff;
	content: "\e613";
}

.icon2-sousuo:before {
	content: "\e603";
}

.icon2-huiyi_icon:before {
	content: "\e621";
}

.icon2-indexTab:before {
	color: #555555;
	content: "\e641";
}

.icon2-indexTab_over:before {
	color: #e61e24;
	content: "\e601";
}

.icon2-gongwenTab:before {
	color: #555555;
	content: "\e6b1";
}

.icon2-gongwenTab_over:before {
	color: #e61e24;
	content: "\e6b0";
}

.icon2-huiyiTab:before {
	color: #555555;
	content: "\e60e";
}

.icon2-huiyiTab_over:before {
	color: #e61e24;
	content: "\e616";
}

.icon2-richengTab:before {
	color: #555555;
	content: "\e678";
}

.icon2-richengTab_over:before {
	color: #e61e24;
	content: "\e647";
}

span.mui-icon.iconfont.icon2-time {
	color: #C0C0C0;
}

span.mui-icon.iconfont.icon2-yonghu {
	color: #C0C0C0;
}

span.mui-icon.iconfont.icon2-daiban1 {
	color: #59c0bc;
}

span.mui-icon.iconfont.icon2-eventmeeting {
	color: #ffb019;
}

span.mui-icon.iconfont.icon2-gonggao {
	color: #ed4731;
}

.icon2-shezhi:before {
	content: "\e62c";
	font-size: 28px;
	color: #fff;
}

.icon2-sousuo:before {
	position: absolute;
	content: "\e603";
	top: 12px;
	left: 5px;
	font-size: 22px;
}

.icon2-richeng:before {
	content: "\e623";
}

.icon2-liaotian1:before {
	content: "\e7e3";
	color: #11B84C;
}

.icon2-set:before {
	content: "\e691";
	font-size: 32px;
	color: #fff;
}

.icon2-gongwenbao:before {
	content: "\e63f";
}

.icon2-indexTab2:before {
	content: "\e793";
}

.icon2-indexTab_over2:before {
	content: "\e794";
}

.icon2-huiyiTab2_over:before {
	content: "\e7e4";
}

.icon2-yijian:before {
	content: "\e617";
}

.icon2-daiban2:before {
	content: "\e61e";
	color: #f00;
}

.icon2-kongbiaodan:before {
	content: "\e622";
	color: #11B84C;
	font-size: 55px;
}

.icon2-fujian_con:before {
	content: "\e6af";
	color: #11B84C;
	font-size: 55px;
}

.icon2-tongyi1:before {
	content: "\e680";
	color: #11B84C;
}

.icon2-tongyi2:before {
	content: "\e680";
	color: #CF2D28;
	font-size: 30px;
}

.icon2-butongyi:before {
	content: "\e681";
	color: #f3100f;
}

.icon2-iconfontdown2:before {
	content: "\e654";
	font-size: 45px;
	-webkit-font-smoothing: subpixel-antialiased;
	position:relative;
	top: -5px;
	right: 0px;
}

.icon2-shanchu:before {
	content: "\e605";
	color: #f00;
	font-size: 45px;
	-webkit-font-smoothing: subpixel-antialiased;
	position:relative;
	top: -5px;
	right: 0px;
}

.icon2-xiangxiashenzhan:before {
	content: "\e604";
	font-size: 45px;
	-webkit-font-smoothing: subpixel-antialiased;
	position:relative;
	top: -5px;
	right: 0px;
}

.icon2-beituihui:before {
	content: "\e60b";
	color: #F0B108;
}

.icon2-yuanquan:before {
	content: "\e610";
	font-size: 22px;
	color: #f00;
	position: relative;
	top: 2px;
}

.icon2-mima:before {
	content: "\e633";
	color: #f00;
	font-size: 20px;
}

.icon2-xinxi:before {
	content: "\e616";
	color: #f00;
	font-size: 20px;
}

.icon2-qiandao:before {
	content: "\e612";
	font-size: 19px;
	color: #f00;
	margin-right: 6px;
}

.icon2-qiandao2:before {
	content: "\e661";
}


.icon2-xinxi1:before { content: "\e62b"; color:#057A08;}

.icon2-pinglun:before { content: "\e63a"; color: #0736ad;}

.icon2-shoucang:before { content: "\e638"; color:#242424;}
.icon2-gongwenbao:before { content: "\e63f"; }
.icon2-caidan:before { content: "\e62e"; color: #AB1C0D;}
.icon2-rili:before { content: "\e634"; color: #DD524D;}
.icon2-gongwenbaozi:before { content: "\e639"; color: #64bfe1;}
.icon2-wenjian:before { content: "\e637"; color: #3e9405;}
.icon2-tupian:before { content: "\e631"; color: #0736ad;}
.icon2-xingong:before { content: "\e63b"; color: #1adaa1;}
.icon2-zhaopian:before { content: "\e63c"; color: #7a2de3;}
.icon2-xinxi1:before { content: "\e62b"; color: #FFB019; }

.icon-wo:before {
	content: "\e607";
}