.xingm{
	width:13.86%;
	height: 13.86%;
	border-radius: 50%;
	color: #fff;
	font-size:15px;
	position: relative;
}
.xingm span{
	text-align:center;
	display:block
}
.notice-color-doblue{
	background:#6995f4;
}
.notice-color-blue{
	background:#18c193
}
.mui-content{
	margin-top: 10px;
}
.fj-size{
	margin-left: 50px;
}
.span-content{
	float: left;
	clear: both;
	margin-top: 10px;
}
.vv{
	display:block;
	text-align: center;
	line-height:44px;
	color: #30b2fa;
	font-weight:400;
}

